@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

.blue {
  color: #0055ff !important;
  text-shadow: -5px 0 20px #00aaff;
}

.orange {
  color: orange !important;
  text-shadow: -5px 0 20px #ffb700;
}

.col-md-6,
.col-md-4,
.col-md-3 {
  float: left;
}

img {
  width: 100%;
}

.clr {
  clear: both;
}

html,
body {
  overflow-x: hidden;
}

#nav {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 4px 20px 0px #0000001A !important;
          box-shadow: 0px 4px 20px 0px #0000001A !important;
}

.navbar-expand-md .navbar-nav {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.navbar-brand {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif !important;
  font-style: italic;
  color: #0055ff !important;
  text-shadow: -5px 0 20px #00aaff;
}

.navbar-brand span {
  color: orange;
  text-shadow: -5px 0 20px #ffb700;
}

.logo {
  width: 150px;
  margin-right: 20px;
}

#navbarNav {
  margin-left: 35%;
}

.nav-link {
  text-transform: uppercase;
  color: #0055ff !important;
  font-size: 20px;
  line-height: 30px;
  margin: 0 18px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav-link:hover {
  color: orange !important;
}

.line-1,
.line-2,
.line-3 {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 28px;
  height: 2px;
  background-color: #0055ff !important;
  margin: 7px 0;
}

main {
  margin: 80px 0;
}

.home .col-md-6 {
  position: relative;
}

.home h1 {
  width: 70%;
  font-size: 50px;
  line-height: 50px;
  font-family: 'Kanit', 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0055ff;
  padding: 70px 0 0;
}

.home p {
  font-size: 20px;
  line-height: 36px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 200px 0 0;
}

.home img {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  -webkit-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px rgba(0, 0, 0, 0.2);
}

.home .ban-img {
  position: absolute;
  width: 80%;
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: banAnimate 2.3s ease infinite;
          animation: banAnimate 2.3s ease infinite;
}

@-webkit-keyframes banAnimate {
  25% {
    opacity: .1;
  }
  100% {
    width: 45%;
    opacity: 1;
  }
}

@keyframes banAnimate {
  25% {
    opacity: .1;
  }
  100% {
    width: 45%;
    opacity: 1;
  }
}

h2 {
  color: #0055ff;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Kanit', 'Open Sans', sans-serif;
}

.about {
  padding: 80px 0 50px;
}

.about h2 {
  padding-bottom: 50px;
}

.about .col-md-6 {
  height: 400px;
  text-align: center;
}

.about .col-md-6 h3 {
  font-size: 38px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  padding: 70px 50px 20px;
}

.about .col-md-6 p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 50px 0;
  text-align: left;
}

.about .col-md-6 img {
  height: 85%;
  width: auto;
}

#team {
  margin-top: 80px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 80px;
}

.card {
  border: none;
  max-width: 18%;
  margin: 100px 12px 10px;
  padding: 20px 5px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 255, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 255, 0.1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 255, 0.2);
          box-shadow: 0 20px 30px rgba(0, 0, 255, 0.2);
}

.card .card-footer {
  border: none;
  background-color: #fff;
}

.card h3,
.card h3 > span {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  padding: 10px 0;
  text-shadow: none !important;
}

.card i {
  color: #0055ff;
  font-size: 30px;
  margin: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card i:hover {
  color: #ffb700;
  text-shadow: 0 0 3px #ffb700;
}

.face {
  width: 70%;
  display: block;
  border-bottom: 6px solid #ffb700;
  border-radius: 50%;
  margin: -100px auto 20px;
}

.subfooter {
  height: 432px;
  position: relative;
  background-image: url("https://webassets.tomtom.com/m/6d6dfdf35d086bdc/original/blog-driver-drowsiness-Hero_Banner_2000x600.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  margin: 100px 0 120px;
}

.subfooter::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, rgba(0, 85, 255, 0.05) 0%, rgba(0, 85, 255, 0.2) 25%, rgba(0, 85, 255, 0.95) 70%);
}

.footer {
  height: 100px;
  padding: 40px 0 0;
  background-color: #0055ff15;
}

.footer p {
  text-align: right;
  font-size: 20px;
  color: #333;
}

.footer-brand {
  font-size: 24px;
  color: #0055ff;
  font-weight: bold;
  text-decoration: none;
}

.footer-brand > span {
  color: #ffb700;
}

.info-card {
  color: #fff;
  position: relative;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif !important;
  text-align: right;
}

.info-card h2 {
  color: #ffb700;
  width: 50%;
  position: absolute;
  z-index: 9;
  font-size: 60px;
  right: 20px;
}

.info-card p {
  width: 50%;
  position: absolute;
  font-size: 26px;
  top: 250px;
  right: 20px;
}

@media only screen and (max-width: 1399px) {
  #navbarNav {
    margin-left: 25%;
  }
  .home h1 {
    width: 80%;
  }
  .card {
    margin: 100px 10px 10px;
  }
  .card i {
    font-size: 25px;
  }
  .info-card h2 {
    font-size: 56px;
  }
  .info-card p {
    font-size: 23px;
  }
  .footer p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1199px) {
  #navbarNav {
    margin-left: 17%;
  }
  .nav-link {
    font-size: 18px;
    margin: 0 10px;
  }
  .home h1 {
    font-size: 40px;
    line-height: 44px;
    padding: 45px 0 0;
  }
  .home p {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 160px 0 0;
  }
  .about .col-md-6 h3 {
    font-size: 36px;
    letter-spacing: .5px;
    padding: 70px 50px 10px;
  }
  .about .col-md-6 p {
    font-size: 18px;
    line-height: 26px;
  }
  .about .col-md-6 img {
    height: 82%;
  }
  .card {
    margin: 100px 20px 10px;
    max-width: 25%;
  }
  .subfooter {
    height: 360px;
  }
  .info-card h2 {
    font-size: 48px;
  }
  .info-card p {
    font-size: 19px;
    top: 210px;
  }
  .footer p {
    font-size: 16px;
    margin: 12px 0 0;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-brand {
    font-size: 30px;
    letter-spacing: -1px;
  }
  #navbarNav {
    margin-left: 6%;
  }
  .nav-link {
    margin: 0;
  }
  .home h1 {
    width: 100%;
    font-size: 38px;
    line-height: 40px;
    padding: 20px 0 0;
  }
  .home p {
    line-height: 26px;
    padding: 20px 90px 0 0;
  }
  .home img {
    width: 100%;
  }
  h2 {
    font-size: 36px;
  }
  .about .col-md-6 {
    height: 330px;
  }
  .about .col-md-6 h3 {
    font-size: 30px;
    letter-spacing: .5px;
    padding: 40px 0 10px 50px;
  }
  .about .col-md-6 p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 50px;
  }
  .police-img {
    height: 77% !important;
  }
  .card {
    margin: 100px 10px 10px;
    max-width: 30%;
  }
  .subfooter {
    height: 300px;
  }
  .subfooter h2 {
    font-size: 34px;
  }
  .subfooter p {
    font-size: 17px;
    top: 155px;
  }
  .footer-brand {
    font-size: 21px;
    letter-spacing: -0.6px;
  }
  .footer p {
    font-size: 12px;
    margin: 15px 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .col-md-6 {
    float: none;
  }
  .logo {
    width: 135px;
    margin-right: 15px;
  }
  .navbar-toggler {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: 1px solid #0055ff !important;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .navbar-toggler:hover {
    border: 1px solid #ffb700 !important;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #navbarNav {
    margin-left: 0;
    text-align: center;
    letter-spacing: 1px;
  }
  .home {
    text-align: center;
  }
  .home h1 {
    margin: 0 auto;
    width: 73%;
  }
  .home p {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0 50px;
  }
  h2 {
    text-align: center;
  }
  .card {
    max-width: 47%;
  }
  .about .col-md-6 {
    height: 220px;
  }
  .about .col-md-6 h3,
  .about .col-md-6 p {
    text-align: center;
  }
  .about .col-md-6 img,
  .about .col-md-6 .police-img {
    height: 100% !important;
  }
  #team {
    margin: 0;
  }
  .subfooter {
    height: 210px;
    margin: 70px 0 90px;
  }
  .subfooter h2 {
    font-size: 28px;
    width: 55%;
    text-align: right;
    top: 20px;
  }
  .subfooter p {
    font-size: 15px;
    text-align: right;
    width: 57%;
    top: 100px;
  }
  .footer {
    height: 150px;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 20px;
  }
  .logo {
    width: 80px;
    margin: 10px 0;
  }
  .home h1 {
    width: 100%;
    font-size: 36px;
    padding: 0;
  }
  .home p {
    width: 100%;
  }
  .about .col-md-6 h3 {
    padding: 40px 0 10px;
  }
  .about .col-md-6 p {
    padding: 0;
  }
  .card {
    max-width: 72%;
  }
  .subfooter h2 {
    font-size: 23px;
    width: 62%;
  }
  .subfooter p {
    width: 76%;
    top: 90px;
  }
}
/*# sourceMappingURL=style.css.map */